*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Para que el scrolleo en la one page sea suave */
  scroll-behavior: smooth;
}

body{
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: auto;
  margin: 0;
}
/* Para quitar los puntos a los items de listas */
ul {
  list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
}

/* header y navvar*/
header {
top: 0;
left: 0;
display: flex;
z-index: 999;
position: sticky;
width: 100%;
height: 90px;
min-height: 10vh;
justify-content: space-between;
background:#033f98 ;
padding: 10px;
}
/* Navbar reposive desing con menu hamburger*/
/* Configuración de la barra de navegación */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 20px;
  background-color: transparent;
  
}

.topnav .logo {
  max-height: 50px;
}

.topnav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  margin: 0 10px;
}

.topnav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}




#icon{
  color: white;
  justify-items: center;
  align-items: center;
}

/*Logo personal BMH*/
.logo {
  margin-left: 10px;
  justify-content: center;
}

.logo img{
  margin: 0;
  padding: 5px;
  width: 95%;
  height: 65px;
  margin-top: 0;
}

/* section home*/
.hero figure {
  max-width: 400px;
  height: 400px;
  margin-left: 15px;
  padding: 0;
}

.hero figure img{
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  max-width:400px;
  border-radius: 50%;
}
.home_section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; 
}
.hero{
  justify-content: center;
  align-items: center; 
}

  h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 18px;
  color: black;
  text-align: center;
}

  p {
  font-size: 18px;
  line-height: 1.2; 
  text-align: justify;
  line-height: 1.5;
}

  .home{
  margin: 20px 40px 20px 40px;
  text-align: center;
}

 /* Estilos base del botón */
#btn {
  background-color: #0356ae;
  color: #fff;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 16px;
  font-weight: 700;
}

#btn:hover {
  background-color: silver;
  color: black;
  transition: 0.3s;
}

.active{
  background-color: silver;
  transition: 0.3s;
}

  
.section {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
}

.talk {
font-size: 28px;
}
.section_talk {
margin: 20px 40px 20px 40px;
text-align: center;
}

h2{
  text-align: center;
}
.section_talk{
display: block;
text-align: justify;
background-color: #85858562;
padding: 15px;
border-radius: 12px;
}

.redes  {
display: inline-block; 

justify-content: center;
align-content:space-between; 
}

#red ul {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
}

#red li {
display: inline-block;
margin: 0 10px;
}

a {
margin: 5px; 
}

.redes {
width: 100%;
position: relative;
background: transparent;
margin-bottom: 18px;
}

.redes a img {
display: flex;
width: 70px;
height: 70px;
padding: 15px;
}

.redes a img:hover {
transform: scale(1.5);
cursor: pointer;
}


footer {
display: flex; 
justify-content: center;
align-items: center;
text-align: center;
padding: 10px; 
position: relative;
bottom: 0;
width: 100%;
height: 90px;
background-color: #033f98;
color: white;
}

footer p {
display: inline-block;
font-size: 1.2rem;
margin: 0;
padding: 10px;
border-right: 1px solid white;
}

footer p:last-of-type {
border-right: none;
}

/* Estilos para el modo hamburguesa */
@media screen and (max-width: 600px) {
  .topnav ul {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #474747b1;
    width: 100%;
    display: none;
    flex-direction: column;
  }

  .topnav ul.show-nav {
    display: flex;
  }

  .topnav ul li {
    margin: 10px 0;
  }

  .topnav .icon {
    display: flex;
    justify-items: center;
    align-items: center; /* Para centrar el icono verticalmente */
    cursor: pointer;
  }
  i:before{
    font-size: 40px;
  }
  .topnav .icon i:before {
    content: '\f00d';
  }
}



@media screen and (min-width: 1024px) {
  .tablink {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 90%;
  }
   .tablink:hover {
    background-color: #777;
  }
  
   .tabcontent {
    display: none;
    padding: 40px;
    text-align: center;
  }
 
  /* section home*/
  .logo{
  margin-left: 20px;
}
 #icon{
    display: none;
  }

 h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    justify-content: justify;
    text-align: left;
    padding-bottom: 15px;
  }

  .home_section{
    flex-direction: row;
  }
  
  .home{
    margin: 20px 40px 20px 40px;
    text-align: left;
  }
  .home p{
    font-size: 18px;
    text-align: left;
  }
 
}








