*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Para que el scrolleo en la one page sea suave */
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: auto;
  margin: 0;
}
/* Para quitar los puntos a los items de listas */
ul {
  list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
}

/* header y navvar*/
header {
top: 0;
left: 0;
display: flex;
z-index: 999;
position: sticky;
width: 100%;
height: 90px;
min-height: 10vh;
justify-content: space-between;
background:#033f98 ;
padding: 10px;
}
/* Navbar reposive desing con menu hamburger*/
/* Configuración de la barra de navegación */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: transparent;
  
}

.topnav .logo {
  max-height: 50px;
}

.topnav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  margin: 0 10px;
}

.topnav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.topnav a:hover {
  background-color: silver;
  color: black;
}


/*Logo personal BMH*/
.logo {
  margin-left: 20px;
  justify-content: center;
}

.logo img{
  width: 40%;
  height: auto;
  padding: 10px;
  margin: 0;
  margin-top: 0;
}

/* section home*/
.hero figure {
  max-width: 412px;
  height: 400px;
  margin-left: 15px;
  padding: 0;
}

.hero figure img{
  display: flex;
  margin: 0;
  padding: 0;
  width: 380px;
  max-width:412px;
  border-radius: 50%;
}
.home_section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; 
}
.hero{
  justify-content: center;
  align-items: center; 
}
.hero h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 18px;
  color: #2b2d42;
  text-align: center;
}

.hero p {
  font-size: 18px;
  line-height: 1.2; 
  text-align: justify;
  line-height: 1.5;
}

.home{
  margin: 20px 40px 20px 40px;
  text-align: center;
}

.section {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
}

.talk {
font-size: 28px;
}
.section_talk {
margin: 20px 40px 20px 40px;

}

.section_talk{
display: block;
text-align: center;
background-color: #85858562;
padding: 15px;
border-radius: 12px;
}

.descarga {
text-align: center;
margin: 20px 0;
}

.descarga a {
display: inline-block;
padding: 10px 20px;
border-radius: 50px;
border: 1px solid white;
background-color: #0365f8;
color: white;
text-decoration: none;
font-size: 20px;
transition: background-color 0.2s;
}

.descarga a:hover {
color: white;
background-color: silver;
border: 1px solid grey;
}


.redes  {
display: inline-block; 

justify-content: center;
align-content:space-between; 
}

#contacto ul {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
}

#contacto li {
display: inline-block;
margin: 0 10px;
}

a {
margin: 5px; 
}

.redes {
width: 100%;
position: relative;
background: transparent;
margin-bottom: 18px;
}

.redes a img {
display: flex;
width: 70px;
height: 70px;
padding: 15px;
}

.redes a img:hover {
transform: scale(1.5);
cursor: pointer;
}


footer {
display: flex; 
justify-content: center;
align-items: center;
text-align: center;
padding: 10px; 
position: relative;
bottom: 0;
width: 100%;
height: 90px;
background-color: #033f98;
color: white;
}

footer p {
display: inline-block;
font-size: 1.2rem;
margin: 0;
padding: 10px;
border-right: 1px solid white;
}

footer p:last-of-type {
border-right: none;
}

/* Estilos para el modo hamburguesa */
@media screen and (max-width: 600px) {
  .topnav ul {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #85858562;
    width: 100%;
    display: none;
    flex-direction: column;
  }

  .topnav ul.show-nav {
    display: flex;
  }

  .topnav ul li {
    margin: 10px 0;
  }

  .topnav .icon {
    display: flex;
    align-items: center; /* Para centrar el icono verticalmente */
    cursor: pointer;
  }

  .topnav .icon i:before {
    content: '\f00d';
  }
}



@media screen and (min-width: 1024px) {
  /* section home*/
 .icon{
    display: none;
  }
.logo{
  margin-left: 50px;
}
  .hero{
    width: 100%;
   justify-content: center;
  }
  .hero figure {
    margin: 0;
    padding: 0;
    width: 40%;
    float: left;
    margin-top: 40px;
  }
  .hero figure img{
    display: flex;
    margin: 0;
    padding: 0;
    width: 480px;
    max-width:500px;
    border-radius: 50%;
  }

  .hero p {
    margin: 0;
    padding: 0;
    width: 70%;
    float:right;
    margin-bottom: 50px;
  }
  .hero h1 {
    margin: 0;
    padding: 0;
    width: 70%;
    float:right;
    margin-top: 70px;
    margin-bottom: 20px;
  }
 
.descarga {
  text-align: center;
  margin: 20px 0;
  }
  
  .descarga a {
  display: flexbox;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: #0365f8;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.2s;
  }
  
  .descarga a:hover {
  color: white;
  background-color: silver;
  border: 1px solid grey;
  }

}








